
body {
  background-color: #313131;
}


.submarine-wrapper {
  height: 300px;
  width: 300px;
  padding: 30px 50px 30px 150px;
  margin: 0 auto 0 auto;
}

#helix1 {
  position: absolute;
  top: 200px;
  left:100px;
}

#helix2 {
  position: absolute;
  top: 200px;
  left:200px;
}

#helix3 {
  position: absolute;
  top: 200px;
  left: 300px;
}

#helix4 {
  position: absolute;
  top: 200px;
  left: 400px;
}

.helix {
  width: 100px;
  height: 100px;
  background: linear-gradient(to left, #3494e6, #ec6ead);
  background-size: 100% 20px;
  animation: helix-movement2 1.5s ease-in-out infinite alternate;
}

.submarine-wrapper .helix:after {
  content: "";
  position: absolute;
  top:100px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  opacity: 0.8;
  background: linear-gradient(to right, #6a82fb, #fc5c7d);
  background-size: 100% 20px;
  animation: helix-movement 1.5s ease-in-out infinite alternate;
}



@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes helix-movement {
  100% {
    background: linear-gradient(to left, #fc5c7d, #6a82fb 80%);
    background-size: 10% 40px;
  }
}


@keyframes helix-movement2 {
  100% {
    background: linear-gradient(to right, #ec6ead 50%, #3494e6 50%);
    background-size: 10% 40px;
  }
}