body {
  
    animation: bgChange 6s;
    -webkit-animation: bgChange 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes bgChange {
	from {background: #283747;}
	to {background: #FADBD8;}
}

-web-keyframes bgChange {
	from {background: #283747;}
	to {background: #FADBD8;}
}