
body {
  background: #6A7992;    
}
  
  .cirUp {
    background: #9CBECE;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    animation: move3 3s infinite alternate;
  
  }
  
  .cirDown {
    background: #ECA393;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    top:50px;
    animation: move4 3s infinite alternate;

  }

  #line1 {
    position: absolute;
    top:100px;
    left:100px;
    animation: move1 3s infinite alternate;
  }

  #line2 {
    position: absolute;
    top:100px;
    left:100px;
    animation: move2 3s infinite alternate;
  }

  #line3 {
    position: absolute;
    top:200px;
    left:200px;
    animation: move1 3s infinite alternate;
  }

  #line4 {
    position: absolute;
    top:200px;
    left:200px;
    animation: move2 3s infinite alternate;
  }

  #line5 {
    position: absolute;
    top:100px;
    left:300px;
    animation: move1 3s infinite alternate;
  }

  #line6 {
    position: absolute;
    top:100px;
    left:300px;
    animation: move2 3s infinite alternate;
  }

  #line7 {
    position: absolute;
    top:200px;
    left:400px;
    animation: move1 3s infinite alternate;
  }

  #line8 {
    position: absolute;
    top:200px;
    left:400px;
    animation: move2 3s infinite alternate;
  }

  #line9 {
    position: absolute;
    top:100px;
    left:500px;
    animation: move1 3s infinite alternate;
  }

  #line10 {
    position: absolute;
    top:100px;
    left:500px;
    animation: move2 3s infinite alternate;
  }

  

@keyframes move1 {
  100% {
  transform: rotate(360deg);


  }
}

@keyframes move2 {
  100% {
    transform: rotate(-360deg);

  } 
}

@keyframes move3 {
  100% {
    background: #82C6BD;
  }
}

@keyframes move4 {
  100% {
  background: #F9F9FA;

  }
}
