body {
  background: #68CBF4;
  
}


.element {

  display: inline-block;
  height: 50px;
  width: 100px;
  padding: 1px;
  margin-right: 5px;
  margin-left: 5px;
  animation: skew 2s infinite;
 /* transform: skew(30deg);*/
  animation-direction: alternate;
  opacity: .5;
  background-color: #F7F7F7;
}


.element2 {
 
  display: inline-block;
  height: 50px;
  width: 100px;
  padding: 1px;
  margin-right: 5px;
  margin-left: 5px;
  animation: skew2 2s infinite;
  
  animation-direction: alternate;
  opacity: .6;
  background-color: #FD7CFE;
}

#rec1{
/*  background-color: #D7316C;*/
  position: absolute;
  top: 180px;
  left: 100px;
}

#rec2{
/*  background-color: #3FA9F4;*/
  position: absolute;
  top: 180px;
  left: 180px;
}

#rec3{
  /*background-color: #D7316C;*/
  position: absolute;
  top: 180px;
  left: 260px;
}

#rec4{
  /*background-color: #3FA9F4;*/
  position: absolute;
  top: 180px;
  left: 340px;
}

#rec5{
 /* background-color: #3FA9F4;*/
  position: absolute;
  top: 180px;
  left: 100px;
}

#rec6{
  /*background-color: #D7316C;*/
  position: absolute;
  top: 180px;
  left: 180px;
}

#rec7{
  /*background-color: #3FA9F4;*/
  position: absolute;
  top: 180px;
  left: 260px;
}

#rec8{
  /*background-color: #D7316C;*/
  position: absolute;
  top: 180px;
  left: 340px;
}

#rec9{
 /* background-color: #D7316C;*/
  position: absolute;
  top: 260px;
  left: 100px;
}

#rec10{
 /* background-color: #3FA9F4;*/
  position: absolute;
  top: 260px;
  left: 180px;
}

#rec11{
 /* background-color: #D7316C;*/
  position: absolute;
  top: 260px;
  left: 260px;
}

#rec12{
  /*background-color: #3FA9F4;*/
  position: absolute;
  top: 260px;
  left: 340px;
}

#rec13{
  /*background-color: #3FA9F4;*/
  position: absolute;
  top: 260px;
  left: 100px;
}

#rec14{
 /* background-color: #D7316C;*/
  position: absolute;
  top: 260px;
  left: 180px;
}

#rec15{
  /*background-color: #3FA9F4;*/
  position: absolute;
  top: 260px;
  left: 260px;
}

#rec16{
  /*background-color: #D7316C;*/
  position: absolute;
  top: 260px;
  left: 340px;
}
@keyframes skew {
0% {
    /*transform: skewX(50deg);*/
   /* transform: skewY(-50deg);*/
   transform: rotateX(-50deg);
  }
  100% {
    /*transform: skewX(-50deg);*/
    /*transform: skewY(50deg);*/
    transform: rotateX(90deg);
    
  }
}

@keyframes skew2 {
  0% {
    transform: rotateY(180deg);
   /* transform: skewY(-180deg);*/
  }
  100% {
    transform: rotateY(-180deg);
    /*transform: skewY(180deg);*/
  }
}
body, html {
  height: 100%;
}

